openapi: 3.1.0
info:
  title: Coconut Context API
  version: 0.1.0
  summary: Versioned, dual-audience knowledge backbone — pages readable by humans and agents over HTTP and MCP.
  description: |
    Coconut Context (Coco) stores Markdown pages, versioned append-only in Postgres, and serves
    them identically to humans (HTML) and agents (Markdown / JSON / MCP tools).

    ## Doors

    - **HTTP** — the REST surface documented here. Page reads content-negotiate: request
      `Accept: text/markdown` (or append `.md` to the page path) for clean Markdown,
      `Accept: application/json` for a structured JSON envelope, otherwise HTML.
    - **MCP** — a JSON-RPC 2.0 door at `POST /mcp` exposing the `context_*` tool family and the
      `agent_*` tool family (space agents: tasks, runs, instructions — see the MCP section and
      `GET /mcp/manifest`).

    ## Authentication

    - **Agent keys** — `Authorization: Bearer coco_...`, minted at `POST /admin/agent-keys`.
    - **Session cookie** — `coco_session`, set by the OIDC flow under `/auth`.
    - **MCP OAuth** — authorization-code + PKCE flow (`/oauth/authorize`, `/oauth/token`) with
      dynamic client registration (`/oauth/register`); scopes `context:read` / `context:write`.
      Access tokens (`at_...`) are accepted as `Authorization: Bearer` on the REST surface —
      search, spaces, and pages included — as well as at `POST /mcp`. A token issued with only
      `context:read` is limited to read/list/search operations everywhere.
    - **SCIM token** — bearer token for IdP provisioning under `/scim` (rotate at
      `POST /admin/identity/scim/tokens/rotate`).

    On multi-tenant deployments org context is resolved from the session, from the
    `X-Coco-Org-Slug` (or `X-Coco-Org-Id`) header, or — for MCP OAuth bearer requests — from
    the org the access token was minted for, so OAuth clients need no org header. An explicit
    org header that contradicts the token's org fails authentication. Single-tenant
    deployments need no org context at all.

    ## Concurrency

    Page reads return a weak `ETag` (`W/"<version>"`). Updating an existing page requires
    `If-Match` with the expected version — missing returns 428, stale returns 412.

    ## Scope of this document

    Internal runtime seams are intentionally omitted: the agent-runtime credential/token/usage
    endpoints (`/agents/runtime-ping`, `/agents/connector-credentials/resolve`,
    `/agents/run-usage`, `/agents/model-call-usage`, `/agents/space-agent-token`,
    `/agents/model-settings`) and platform-operator routes (`/platform/*`). They are restricted
    to internal principals and are not a stable integration surface.

    `/billing/*` exists only on multi-tenant deployments with billing enabled; on other
    deployments the whole prefix returns 404. `/auth/*` requires OIDC to be configured (503
    otherwise). `/admin/*` and `/scim/*` require a database-backed runtime (503 otherwise).
servers:
  - url: https://api.coconut.md
    description: Hosted deployment
  - url: http://localhost:8787
    description: Local development
tags:
  - name: Health
    description: Liveness and readiness probes.
  - name: Pages
    description: Shared page lifecycle — versioned Markdown pages addressed as spaceSlug/pagePath.
  - name: Personal Pages
    description: The caller's private context, addressed under personal/.
  - name: Page Metadata
    description: Structured key-value metadata stored alongside a page, patched per key without creating page revisions.
  - name: Page Links
    description: The internal link graph — outbound links, backlinks, broken-link reports, and index rebuild. Links are indexed automatically from Markdown bodies on every write.
  - name: Spaces
    description: Space listings, space-scoped page listings, and space export/import bundles.
  - name: Templates
    description: Page templates on the reserved templates/ prefix — frontmatter description and metadataDefaults drive the new-page picker.
  - name: Space Templates
    description: Whole-space starting kits in the coco-space-export bundle format — built-in catalog, optional remote catalog, and org-maintained space snapshots. Backs the app's /templates gallery, its previews, and space creation from a template.
  - name: Webhooks
    description: Org-admin outbound webhooks — HMAC-SHA256-signed JSON deliveries on page events, with per-webhook delivery logs. Requires an org admin and a database-backed runtime.
  - name: Search
    description: Full-text search and metadata queries, ACL-filtered per page.
  - name: MCP
    description: The Model Context Protocol door — JSON-RPC 2.0 endpoint, manifest, and connector setup document.
  - name: Auth
    description: OIDC login, session, and onboarding.
  - name: OAuth
    description: OAuth 2.0 authorization server for MCP clients — discovery, dynamic client registration, authorize, and token endpoints.
  - name: Admin
    description: Org-admin console — members, users, spaces, agent keys, identity/SSO, connector credentials, policies, and audit. Requires an org owner/admin principal and a database-backed runtime. Exception — connector-credential routes also accept a non-admin when the operation targets the caller's OWN personal space (spaceSlug `personal`), authorized by the requested action against that personal space (read to list, write to save/test/delete/revoke), so a read-scoped principal cannot mutate; org-wide records and shared spaces stay admin-only.
  - name: SCIM
    description: IdP user provisioning. Authenticated with a SCIM bearer token.
  - name: Billing
    description: Stripe-backed plans and credits. Only mounted on multi-tenant deployments with billing enabled.
  - name: Agents
    description: Agent-runtime read surfaces usable by the UI — availability, connector catalog, and connector OAuth connect flow.
  - name: Space Agents
    description: REST parity with the agent_* MCP tool family — per-space agent rollups, tasks, run records (including async run triggers), and instructions.

security:
  - agentKey: []
  - sessionCookie: []
  - mcpOAuth: []

paths:
  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Service is alive.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
  /ready:
    get:
      tags: [Health]
      operationId: getReady
      summary: Readiness probe
      security: []
      responses:
        "200":
          description: Service is ready.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }

  # ------------------------------------------------------------------
  # Shared pages
  # ------------------------------------------------------------------
  /pages:
    get:
      tags: [Pages]
      operationId: listPages
      summary: List pages across generic spaces
      description: Lists ACL-visible pages across the org's generic (non-personal, non-system) spaces.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Visible pages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/PageListItem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /pages/recent:
    get:
      tags: [Pages]
      operationId: listRecentPages
      summary: List recently updated pages
      description: |
        The most recently updated ACL-visible pages across the org's generic spaces — or one
        space with `space=` (use `personal` for the caller's private context) — newest first
        (parity with the `context_recent_shared_pages` MCP tool). Reserved pages (under
        `agents/` and `templates/`) are excluded.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - name: space
          in: query
          schema: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
          description: Restrict to one space slug (or `personal`).
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Recently updated pages, newest first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  space: { type: [string, "null"] }
                  limit: { type: integer }
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/PageListItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /pages/{spaceSlug}/{pagePath}:
    get:
      tags: [Pages]
      operationId: getPage
      summary: Read a page
      description: |
        Returns the page at the requested (or latest) version. Content negotiates on the
        `Accept` header — `text/markdown` returns clean Markdown with a leading `---`
        frontmatter block; `application/json` returns a structured envelope (path, title,
        version, updatedAt, frontmatter, and the Markdown body as `content`); anything else
        returns rendered HTML. Appending `.md` to the page path forces Markdown. Sets a weak
        `ETag` of the returned version.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/VersionQuery"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The page at the resolved version.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            text/markdown:
              schema: { type: string }
            application/json:
              schema: { $ref: "#/components/schemas/PageJsonResult" }
            text/html:
              schema: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Pages]
      operationId: putPage
      summary: Create or update a page
      description: |
        Upserts the page. Creating a new page returns 201. Updating an existing page requires
        `If-Match` with the current version (accepted forms: `3`, `"3"`, `W/"3"`) — missing
        returns 428, stale returns 412. Every successful write appends a new revision.

        Creates may be based on a **template** (`template` + optional initial `metadata`):
        the template's body seeds the content when none is given, its metadata defaults and
        schema-validated `metadata` values are applied after create, and the page is stamped
        `template: <name>`. Schema violations return 400 with an `issues` array and create
        nothing. Both fields are create-only — sending them on an update returns 400.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/IfMatchHeader"
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PageWriteRequest" }
      responses:
        "200":
          description: Existing page updated.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "201":
          description: Page created.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PlanLimit" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "412":
          description: If-Match version is stale.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "428":
          description: If-Match header is required when updating an existing page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /pages/{spaceSlug}/{pagePath}/versions:
    get:
      tags: [Pages]
      operationId: listPageVersions
      summary: List a page's revisions
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Revision history, newest first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageVersionsResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /pages/{spaceSlug}/{pagePath}/versions/{version}/make-latest:
    post:
      tags: [Pages]
      operationId: makePageVersionLatest
      summary: Restore a historical version
      description: Appends a new revision whose content is copied from the named version.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/VersionSpecifier"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: New revision created from the source version.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MakeLatestResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "412":
          description: Concurrent update conflict.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  # ------------------------------------------------------------------
  # Page metadata (shared and personal paths)
  # ------------------------------------------------------------------
  /pages/{spaceSlug}/{pagePath}/metadata:
    get:
      tags: [Page Metadata]
      operationId: getPageMetadata
      summary: Read a page's metadata
      description: |
        Returns the page's structured key-value metadata. Also serves personal pages when
        addressed as `/pages/personal/{pagePath}/metadata`.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Current metadata with per-key attribution.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageMetadataResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Page Metadata]
      operationId: patchPageMetadata
      summary: Merge-patch a page's metadata
      description: |
        Patches metadata keys without creating a page revision. `set` upserts keys (JSON null
        deletes a key); `append` atomically extends array values; `appendUnique` appends
        idempotently (elements already present are skipped; all-duplicate patches are no-ops).
        Values may be any JSON type. Limits: 200 keys per page, 16 KB per value.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MetadataPatchRequest" }
      responses:
        "200":
          description: Metadata after the patch.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageMetadataResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /pages/{spaceSlug}/{pagePath}/metadata/history:
    get:
      tags: [Page Metadata]
      operationId: getPageMetadataHistory
      summary: Read a page's metadata change history
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
          description: Maximum number of history entries to return.
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Per-key audit trail, newest first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageMetadataHistoryResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ------------------------------------------------------------------
  # Page links
  # ------------------------------------------------------------------
  /pages/{spaceSlug}/{pagePath}/links:
    get:
      tags: [Page Links]
      operationId: getPageLinks
      summary: Read a page's link graph
      description: |
        Outbound internal links (with broken targets flagged via `targetExists`) and backlinks —
        the pages that link here. Backlinks are ACL-filtered per source page. Also serves
        personal pages when addressed as `/pages/personal/{pagePath}/links`.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Outbound links and backlinks.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageLinksResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /spaces/{spaceSlug}/links/broken:
    get:
      tags: [Page Links]
      operationId: listBrokenLinks
      summary: Dangling-link report for a space
      description: Every stored link in the space whose target page does not exist. Sources are ACL-filtered like backlinks.
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Broken edges.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spaceSlug: { type: string }
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        sourcePath: { type: string }
                        targetPath: { type: string }
                        anchorText: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /links/rebuild:
    post:
      tags: [Page Links]
      operationId: rebuildLinkIndex
      summary: Rebuild the link index (admin)
      description: One-shot reindex for corpora written before link indexing existed or after bulk imports outside the core write path. Org-admin only.
      parameters: [{ $ref: "#/components/parameters/OrgSlugHeader" }]
      responses:
        "200":
          description: Rebuild summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagesScanned: { type: integer }
                  linksIndexed: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/Unavailable" }

  # ------------------------------------------------------------------
  # Personal pages
  # ------------------------------------------------------------------
  /pages/personal:
    get:
      tags: [Personal Pages]
      operationId: listPersonalPages
      summary: List the caller's personal pages
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The caller's private pages.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PersonalPagesResult" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /pages/personal/{pagePath}:
    get:
      tags: [Personal Pages]
      operationId: getPersonalPage
      summary: Read a personal page
      description: >-
        Same representation rules as shared page reads — Markdown via `Accept` or a `.md`
        suffix, a JSON envelope via an `application/json` Accept header, weak `ETag`,
        `?version=` selector.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/VersionQuery"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The page at the resolved version.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            text/markdown:
              schema: { type: string }
            application/json:
              schema: { $ref: "#/components/schemas/PageJsonResult" }
            text/html:
              schema: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Personal Pages]
      operationId: putPersonalPage
      summary: Create or update a personal page
      description: Create returns 201; update requires `If-Match` (428 missing, 412 stale).
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/IfMatchHeader"
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PageWriteRequest" }
      responses:
        "200":
          description: Existing page updated.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "201":
          description: Page created.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PlanLimit" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "412":
          description: If-Match version is stale.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "428":
          description: If-Match header is required when updating an existing page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [Personal Pages]
      operationId: deletePersonalPage
      summary: Delete a personal page
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Page deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  path: { type: string }
                  deleted: { type: boolean, const: true }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /pages/personal/{pagePath}/versions:
    get:
      tags: [Personal Pages]
      operationId: listPersonalPageVersions
      summary: List a personal page's revisions
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Revision history, newest first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageVersionsResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /pages/personal/{pagePath}/versions/{version}/make-latest:
    post:
      tags: [Personal Pages]
      operationId: makePersonalPageVersionLatest
      summary: Restore a historical version of a personal page
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/PagePath"
        - $ref: "#/components/parameters/VersionSpecifier"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: New revision created from the source version.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MakeLatestResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "412":
          description: Concurrent update conflict.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  # ------------------------------------------------------------------
  # Spaces
  # ------------------------------------------------------------------
  /spaces:
    get:
      tags: [Spaces]
      operationId: listSpaces
      summary: List visible spaces
      description: |
        Spaces the caller can list. With `include=stats` each space additionally carries
        `pageCount` and `lastUpdatedAt` (the most recent page update), both computed over the
        pages THIS caller can read; without the flag the response is unchanged.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - name: include
          in: query
          schema: { type: string, enum: [stats] }
          description: Optional response enrichment. `stats` adds per-space `pageCount` and `lastUpdatedAt`.
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Spaces the caller can list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        slug: { type: string }
                        name: { type: string }
                        description: { type: [string, "null"] }
                        visibility: { type: [string, "null"], enum: [private, org, null] }
                        pageCount:
                          type: integer
                          description: ACL-visible page count. Present only with `include=stats`.
                        lastUpdatedAt:
                          type: [string, "null"]
                          format: date-time
                          description: Most recent ACL-visible page update. Present only with `include=stats`.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /spaces/{spaceSlug}/pages:
    get:
      tags: [Spaces]
      operationId: listSpacePages
      summary: List ACL-visible pages in a space
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Pages in the space.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SpacePagesResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /templates:
    get:
      tags: [Templates]
      operationId: listTemplates
      summary: List page templates
      description: |
        Any page at `<space>/templates/<name>` is a template. Frontmatter `description`
        supplies picker copy; frontmatter `metadataDefaults` (object) is applied as page
        metadata when a page is created from the template; frontmatter `metadataSchema`
        declares the formal field shape, returned normalized as `schema` (with lenient-parse
        diagnostics in `schemaIssues`); frontmatter `defaultPathPrefix` names the directory
        records of the type conventionally live in (advisory — creation surfaces pre-fill
        `<prefix>/<slug>`, any path is accepted). Results are ACL-filtered per page.
        See the PAGE-TEMPLATES spec for schema semantics and create-from-template.
      parameters:
        - name: space
          in: query
          schema: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
          description: Restrict to one space.
        - name: includeContent
          in: query
          schema: { type: boolean }
          description: Include each template's Markdown body.
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Visible templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  space: { type: [string, "null"] }
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        path: { type: string }
                        space: { type: string }
                        name: { type: string }
                        title: { type: string }
                        description: { type: string }
                        version: { type: integer }
                        updatedAt: { type: string, format: date-time }
                        metadataDefaults:
                          type: object
                          additionalProperties: true
                        schema: { $ref: "#/components/schemas/TemplateMetadataSchema" }
                        defaultPathPrefix:
                          type: string
                          description: Directory records of this type conventionally live in (advisory).
                        schemaIssues:
                          type: array
                          items: { type: string }
                        content: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /spaces/{spaceSlug}/export:
    get:
      tags: [Spaces]
      operationId: exportSpace
      summary: Export a space as a JSON bundle
      description: |
        Self-contained `coco-space-export` v1 bundle — space info plus every readable page's
        current version, frontmatter, content, and metadata, with space-relative paths.
        Revision history is not included. Served with an attachment content-disposition.
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The export bundle.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SpaceExportBundle" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /spaces/{spaceSlug}/import:
    post:
      tags: [Spaces]
      operationId: importSpace
      summary: Import a space bundle
      description: |
        Applies a `coco-space-export` bundle into the space. `mode=skip` (default) leaves
        existing pages untouched; `mode=overwrite` appends new revisions. Per-page ACL checks
        apply; caps — 256 KB content, 64 KB frontmatter, 500 pages per bundle. Writes go
        through the same core path as page routes, so revisions, ACLs, and webhooks all apply.
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - name: mode
          in: query
          schema: { type: string, enum: [skip, overwrite], default: skip }
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SpaceExportBundle" }
      responses:
        "200":
          description: Per-page import summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  space: { type: string }
                  mode: { type: string, enum: [skip, overwrite] }
                  created: { type: integer }
                  updated: { type: integer }
                  skipped: { type: integer }
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        path: { type: string }
                        error: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ------------------------------------------------------------------
  # Space templates (whole-space starting kits)
  # ------------------------------------------------------------------
  /space-templates:
    get:
      tags: [Space Templates]
      operationId: listSpaceTemplates
      summary: List space templates
      description: |
        The merged template gallery: the deployment's catalog (built-in files, or the
        replacement directory `COCO_SPACE_TEMPLATES_PATH` points at, plus the opt-in remote
        catalog at `COCO_SPACE_TEMPLATES_URL`) and this org's admin-saved space snapshots —
        whole-space starting kits in the `coco-space-export` bundle format. `includePages=1`
        adds a card-weight page index (path/title/description/role, no content) to every item.
      parameters:
        - name: includePages
          in: query
          schema: { type: string, enum: ["1"] }
          description: Add a per-template page index (no content) to every item.
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Every template visible to the org — catalog sources first, then org snapshots.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/SpaceTemplateSummary" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /space-templates/pages:
    get:
      tags: [Space Templates]
      operationId: listSpaceTemplatePageTemplates
      summary: List catalog page templates
      description: |
        A derived projection of the same catalog: the individual bundle pages offered as
        single-page starting points, authored `templates/*` pages leading their bundle and
        context pages following in bundle order. `overview`, `agents/*`, and `example-*`
        pages are never projected. Merged into the "Start from" pickers on the new-page
        forms (`kind: personal` bundles feed the personal picker).
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Catalog page templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/SpaceTemplateDerivedPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /space-templates/agents:
    get:
      tags: [Space Templates]
      operationId: listSpaceTemplateAgentTasks
      summary: List catalog agent task templates
      description: |
        The catalog's agent task templates: bundle pages under `agents/` tagged
        `kind: agent-task` (the space agent persona at `agents/instructions` is skipped).
        Merged into the "Start from" picker on the new-task form.
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Catalog agent task templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/SpaceTemplateDerivedAgentTask" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /space-templates/org:
    post:
      tags: [Space Templates]
      operationId: saveOrgSpaceTemplate
      summary: Save a space as an org template (admin)
      description: |
        Snapshots an existing space as an org-maintained template ("Save as org template" on
        the space manage page). The snapshot goes through the same collector as
        `GET /spaces/{spaceSlug}/export` — only pages the caller can read are captured — and
        the same validation as catalog bundles, so a stored template never exceeds what
        import allows. Upserts by template id (defaults to the source space's slug). Org
        admin only; requires a database-backed runtime (503 otherwise).
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrgSpaceTemplateSaveRequest" }
      responses:
        "201":
          description: The saved org template.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrgSpaceTemplateSaveResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /space-templates/org/{id}:
    delete:
      tags: [Space Templates]
      operationId: deleteOrgSpaceTemplate
      summary: Delete an org template (admin)
      description: Removes an org-maintained template from the gallery. Spaces already created from it are unaffected. Org admin only; requires a database-backed runtime.
      parameters:
        - $ref: "#/components/parameters/SpaceTemplateId"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Template deleted.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /space-templates/{source}/{id}:
    get:
      tags: [Space Templates]
      operationId: getSpaceTemplate
      summary: Read one space template in full
      description: |
        The template's summary plus every bundle page with content, classified role, starting
        metadata, and — for authored `templates/*` pages — the normalized metadata schema.
        This is the read-only preview surface's data source (`/templates/{id}/preview` in the
        app): a share link shows exactly what creating a space from the template provisions.
      parameters:
        - $ref: "#/components/parameters/SpaceTemplateSource"
        - $ref: "#/components/parameters/SpaceTemplateId"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The full template bundle.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SpaceTemplateDetail" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500":
          description: A stored org template failed validation and cannot be served.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /space-templates/{source}/{id}/spaces:
    post:
      tags: [Space Templates]
      operationId: createSpaceFromTemplate
      summary: Create a space from a template (admin)
      description: |
        Creates a new space seeded from the template — pages, page templates, agent
        instructions, and per-page metadata included. Same authorization bar as
        `POST /admin/spaces` (org admin) and the same plan caps; seeded pages go through the
        core write path, so ACLs, revisions, links, and webhooks all apply. Per-page failures
        are reported in `pages.errors` rather than failing the space.
      parameters:
        - $ref: "#/components/parameters/SpaceTemplateSource"
        - $ref: "#/components/parameters/SpaceTemplateId"
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SpaceFromTemplateRequest" }
      responses:
        "201":
          description: The created space and a per-page seeding summary.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SpaceFromTemplateResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PlanLimit" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The space could not be created (for example the slug is already taken).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /spaces/{spaceSlug}/agent-principal:
    get:
      tags: [Agents]
      operationId: getSpaceAgentPrincipal
      summary: Inspect a space's agent principal
      description: Reports whether a dedicated space-agent key exists for the space. Never returns a credential.
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Space agent principal status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists: { type: boolean }
                  supported: { type: boolean }
                  agentKeyId: { type: string }
                  name: { type: string }
                  status: { type: string }
                  createdAt: { type: string, format: date-time }
                  lastUsedAt: { type: [string, "null"], format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ------------------------------------------------------------------
  # Space agents (REST parity with the agent_* MCP tool family)
  # ------------------------------------------------------------------
  /agents:
    get:
      tags: [Space Agents]
      operationId: listSpaceAgents
      summary: List space agents
      description: |
        Per-space agent rollups — instructions status, task count, run count, and last run —
        for every space the caller can see (parity with the `agent_list` MCP tool).
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Visible space agents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/AgentSummaryItem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /agents/models:
    get:
      tags: [Space Agents]
      operationId: listAvailableAgentModels
      summary: List available agent models
      description: |
        The admin-enabled models tasks may pin and the organization default (parity with the
        `agent_list_available_models` MCP tool): `id` is what a task's `model` frontmatter key
        stores, `label` is the human-friendly catalog name (null for custom ids). Built for
        scripts and UIs that sweep or pick models — no provider/endpoint internals; run
        dispatch resolves those itself. Note for sweeps: a pinned id that is later disabled
        falls back to the organization default at dispatch — verify which model actually
        served a run via the run record's `modelId`.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Enabled models, default first.
          content:
            application/json:
              schema:
                type: object
                required: [defaultModel, models]
                properties:
                  defaultModel:
                    type: string
                    description: The organization default — used by every task without a pinned model.
                    example: moonshotai.kimi-k2.5
                  models:
                    type: array
                    items:
                      type: object
                      required: [id, label, isDefault]
                      properties:
                        id: { type: string, example: claude-haiku-4-5 }
                        label:
                          type: string
                          nullable: true
                          description: Human-friendly catalog label; null for custom ids.
                          example: Claude Haiku 4.5
                        isDefault: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /spaces/{spaceSlug}/agent/tasks:
    get:
      tags: [Space Agents]
      operationId: listAgentTasks
      summary: List a space agent's tasks
      description: |
        Tasks (pages under `agents/`, excluding instructions and run records) with per-task
        run stats and schedule state, most recently run first (parity with `agent_list_tasks`).
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The space agent's tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spaceSlug: { type: [string, "null"] }
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/AgentTaskListItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /spaces/{spaceSlug}/agent/tasks/{task}:
    get:
      tags: [Space Agents]
      operationId: getAgentTask
      summary: Read one agent task
      description: |
        The task's list shape plus its full Markdown, frontmatter (including schedule keys),
        and its most recent runs inline (parity with `agent_get_task`).
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/TaskPath"
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 5 }
          description: Maximum recent runs to include inline.
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The task with its most recent runs.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentTaskDetail" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Space Agents]
      operationId: putAgentTask
      summary: Create or update an agent task
      description: |
        Upserts the task page at `<space>/agents/<task>` (parity with `agent_create_task` /
        `agent_update_task`). Creating returns 201. Updating an existing task requires
        `If-Match` with the current version — missing returns 428, stale returns 412, exactly
        like page writes. Scheduling rides in frontmatter (`schedule` — 5-field cron —
        plus `scheduleTz` and `scheduleEnabled`).
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/TaskPath"
        - $ref: "#/components/parameters/IfMatchHeader"
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentTaskWriteRequest" }
      responses:
        "200":
          description: Existing task updated.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "201":
          description: Task created.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PlanLimit" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "412":
          description: If-Match version is stale.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "428":
          description: If-Match header is required when updating an existing task.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /spaces/{spaceSlug}/agent/tasks/{task}/runs:
    get:
      tags: [Space Agents]
      operationId: listAgentTaskRuns
      summary: List a task's run records
      description: |
        Run records, newest first — status, trigger, timing, model, token usage, turns, and
        summary (parity with `agent_list_runs`).
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/TaskPath"
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/AgentRunStatus" }
          description: Optional presented-status filter.
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The task's runs, newest first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  path: { type: string }
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/AgentRunItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Space Agents]
      operationId: triggerAgentTaskRun
      summary: Trigger a task run (async)
      description: |
        Queues one run through the deployment's run pipeline (parity with `agent_run_task`,
        but asynchronous): a write-ahead run record is created and 202 returned immediately
        with its `runId` — poll `GET /spaces/{spaceSlug}/agent/runs/{runId}` for the outcome.
        The run executes as the space's agent principal and finalizes the record under
        `agents/runs/`. Rejections knowable up front map to HTTP: run dispatch unavailable →
        503, run rejected (agents not enabled for the org, empty task instructions) → 409,
        plan limit or out of credit → 402, rate limited → 429 with `Retry-After`. A dispatch
        rejected after the 202 (for example saturated run slots) fails the queued record
        instead, so polling still terminates.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/TaskPath"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "202":
          description: Run queued; poll the run record for the outcome.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentRunQueued" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PlanLimit" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The run was rejected (agents not enabled for the org, or the task's instructions are empty).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Rate limited. Carries a `Retry-After` header (seconds).
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Run dispatch is unavailable in this runtime.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /spaces/{spaceSlug}/agent/runs/{runId}:
    get:
      tags: [Space Agents]
      operationId: getAgentRun
      summary: Read one run record
      description: |
        One run record in full — status, timing, model, token usage, turns, the run's
        Markdown output, and (opt-in) the structured activity transcript (parity with
        `agent_get_run`). Addressed by the `runId` a run listing or the async trigger's 202
        response returned.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/RunId"
        - name: includeTranscript
          in: query
          schema: { type: boolean, default: false }
          description: Include the structured activity transcript (can be large).
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The run record.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentRunDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /spaces/{spaceSlug}/agent/instructions:
    get:
      tags: [Space Agents]
      operationId: getAgentInstructions
      summary: Read a space agent's instructions
      description: |
        The agent's persona page (`agents/instructions`) as Markdown (parity with
        `agent_get_instructions`). Before the persona is first written the response carries
        `exists: false` rather than 404, like the MCP tool. Sets a weak `ETag` when it exists.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: The agent instructions (or their absence).
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentInstructionsResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Space Agents]
      operationId: putAgentInstructions
      summary: Create or update a space agent's instructions
      description: |
        Upserts the agent's persona page (parity with `agent_set_instructions`). Creating
        returns 201. Updating existing instructions requires `If-Match` with the current
        version — missing returns 428, stale returns 412, exactly like page writes.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:write]
      parameters:
        - $ref: "#/components/parameters/SpaceSlug"
        - $ref: "#/components/parameters/IfMatchHeader"
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentInstructionsWriteRequest" }
      responses:
        "200":
          description: Existing instructions updated.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "201":
          description: Instructions created.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PageWriteResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PlanLimit" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "412":
          description: If-Match version is stale.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "428":
          description: If-Match header is required when updating existing instructions.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  # ------------------------------------------------------------------
  # Search
  # ------------------------------------------------------------------
  /search:
    get:
      tags: [Search]
      operationId: searchPages
      summary: Full-text search
      description: Results are ACL-filtered per page. Use `space=personal` to search the caller's personal context.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
          description: Search query.
        - name: space
          in: query
          schema: { type: string }
          description: Restrict to one space slug (or `personal`).
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Ranked matches.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SearchResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /search/metadata:
    get:
      tags: [Search]
      operationId: queryPagesByMetadata
      summary: Query pages by metadata
      description: |
        Finds pages whose metadata matches every filter (AND). Ops: `eq`, `neq`, `exists`,
        `missing`, `gt`, `gte`, `lt`, `lte` (numbers and strings — ISO dates compare correctly),
        `contains` (array containment), and `in` / `not-in` (value equals any / none of a
        non-empty array of candidates; `not-in` requires the key to exist, like `neq`).
        Optional ranking with `orderBy` + `order`.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - name: filters
          in: query
          required: true
          schema: { type: string }
          description: 'URL-encoded JSON array of filters, e.g. `[{"key":"status","op":"eq","value":"active"}]`.'
        - name: space
          in: query
          schema: { type: string }
          description: Restrict to one space slug (or `personal`).
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: includeMetadata
          in: query
          schema: { type: boolean }
          description: Include each hit's full metadata object.
        - name: orderBy
          in: query
          schema: { type: string }
          description: Metadata key to sort by (numbers first, then strings, then pages missing the key).
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
          description: Sort direction; requires `orderBy`.
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Matching pages.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MetadataQueryResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /search/metadata/keys:
    get:
      tags: [Search]
      operationId: listMetadataKeys
      summary: Discover metadata keys in use
      description: Distinct metadata keys with page counts, value types, and last update — check before writing so the key namespace converges.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - name: space
          in: query
          schema: { type: string }
          description: Restrict to one space slug (or `personal`).
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Keys ordered by usage.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MetadataKeysResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /search/metadata/values:
    get:
      tags: [Search]
      operationId: listMetadataValues
      summary: Distinct values of one metadata key, grouped per space
      description: Aggregate one key's distinct values with page counts and last update, grouped by space — `key=template` yields the record types that actually have stamped pages (the Views record rail). Same gating and personal-space exclusions as key discovery.
      security:
        - agentKey: []
        - sessionCookie: []
        - mcpOAuth: [context:read]
      parameters:
        - name: key
          in: query
          required: true
          schema: { type: string }
          description: The metadata key to aggregate.
        - name: space
          in: query
          schema: { type: string }
          description: Restrict to one space slug (or `personal`).
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Grouped values ordered by page count.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MetadataValuesResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ------------------------------------------------------------------
  # MCP
  # ------------------------------------------------------------------
  /mcp:
    post:
      tags: [MCP]
      operationId: mcpJsonRpc
      summary: MCP JSON-RPC 2.0 endpoint
      description: |
        The MCP door. `initialize`, `tools/list`, and `notifications/initialized` are served
        anonymously; `tools/call` and `ping` require an agent key or MCP OAuth access token.
        Exposes the `context_*` tool family (whoami, space list/create, shared/personal page
        create/get/update/list/search, recent pages, revisions, page metadata get/set/query/keys,
        page links, and `get_context_by_url`) and the `agent_*` tool family (space agents:
        list agents, list available models and the org default, list/get/create/update/run tasks,
        list/get run records with timing and token usage, get/set agent instructions) — see
        `GET /mcp/manifest` for schemas. Domain errors are
        returned as JSON-RPC errors with HTTP 200 (access denied -32003, not found -32004,
        version conflict -32009, agent runs unavailable -32015, agent run rejected -32016,
        page deletion unavailable -32017, agent models unavailable -32018,
        plan limit -32030, rate limited -32029 with `Retry-After`).
        Default rate limit: 120 requests per 60s per principal.
      security:
        - agentKey: []
        - mcpOAuth: [context:read, context:write]
      parameters:
        - name: MCP-Protocol-Version
          in: header
          schema: { type: string, default: "2025-11-25" }
          required: false
        - $ref: "#/components/parameters/OrgSlugHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/JsonRpcRequest" }
      responses:
        "200":
          description: JSON-RPC result or error envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/JsonRpcResponse" }
        "202":
          description: Notification accepted (no body).
        "400":
          description: Invalid JSON-RPC envelope or protocol version.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/JsonRpcResponse" }
        "401":
          description: Missing or invalid credentials. Carries a `WWW-Authenticate` challenge pointing at the protected-resource metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/JsonRpcResponse" }
    get:
      tags: [MCP]
      operationId: mcpGet
      summary: Method hint
      description: The MCP endpoint only supports POST; GET returns 405 with an explanatory message.
      security: []
      responses:
        "405":
          description: Use POST.
          content:
            text/plain:
              schema: { type: string }

  /mcp/manifest:
    get:
      tags: [MCP]
      operationId: getMcpManifest
      summary: MCP manifest
      description: Server name/version, protocol version, endpoint, setup URL, and the full tool list with JSON-Schema input schemas.
      security: []
      responses:
        "200":
          description: The manifest.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/McpManifest" }

  /connector/setup:
    get:
      tags: [MCP]
      operationId: getConnectorSetup
      summary: Connector setup document
      description: Machine-readable onboarding document for MCP connectors — endpoint, auth modes, and setup instructions.
      security: []
      responses:
        "200":
          description: Setup document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name: { type: string }
                  endpoint: { type: string }
                  setupUrl: { type: string }
                  auth:
                    type: object
                    properties:
                      type: { type: string }
                      instructions:
                        type: array
                        items: { type: string }
                  notes:
                    type: array
                    items: { type: string }

  /.well-known/openai-apps-challenge:
    get:
      tags: [MCP]
      operationId: getOpenAiAppsChallenge
      summary: OpenAI apps domain-verification challenge
      description: |
        Serves the domain-verification token from the ChatGPT app submission form as plain
        text. OpenAI always probes the root of the MCP server's host, so this lives at the
        root of the API domain rather than under `/mcp`. Override the built-in token with
        `COCO_OPENAI_APPS_CHALLENGE_TOKEN`.
      security: []
      responses:
        "200":
          description: The verification token.
          content:
            text/plain:
              schema: { type: string }

  # ------------------------------------------------------------------
  # Auth (OIDC sessions)
  # ------------------------------------------------------------------
  /auth/login:
    get:
      tags: [Auth]
      operationId: authLogin
      summary: Start OIDC login
      security: []
      parameters:
        - name: redirectTo
          in: query
          schema: { type: string, default: /admin }
          description: Same-site path to return to after sign-in.
        - name: provider
          in: query
          schema: { type: string }
          description: |
            Id of the configured sign-in provider to use (from `providers[].id` on
            `GET /auth/config`, e.g. `google` or `microsoft`). Defaults to the
            deployment's default (first-configured) provider. Unknown ids are a 400.
      responses:
        "302":
          description: Redirect to the selected identity provider's authorization URL.
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /auth/callback:
    get:
      tags: [Auth]
      operationId: authCallback
      summary: OIDC redirect target
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: state
          in: query
          required: true
          schema: { type: string }
      responses:
        "302":
          description: |
            On success sets the session cookie and redirects to the stored destination. Other
            outcomes redirect to `/auth/signed-in` with `status=onboarding|pending|suspended|error` —
            except when the failed sign-in interrupted an authorize request from a native OAuth
            client (private-use redirect scheme): then the outcome returns to the client's
            registered `redirect_uri` as RFC 6749 `error`/`error_description`/`state` parameters
            (`access_denied` for onboarding/pending/suspended, `server_error` otherwise).
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /auth/onboarding/join:
    post:
      tags: [Auth]
      operationId: authOnboardingJoin
      summary: Request to join an existing org
      description: |
        Requires the short-lived onboarding cookie set during the OIDC callback. Until
        multi-org login ships, accounts holding an active membership in another org are
        refused (409) unless the deployment sets `COCO_ALLOW_MULTI_ORG_MEMBERSHIP=1`.
        Admin invite-by-email and SCIM provisioning enforce the same rule.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orgId]
              properties:
                orgId: { type: string }
      responses:
        "200":
          description: Join request submitted, pending admin approval.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  status: { type: string, const: pending }
                  message: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: The account already belongs to another organization (interim single-org policy).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /auth/onboarding/create:
    post:
      tags: [Auth]
      operationId: authOnboardingCreate
      summary: Create a new org during onboarding
      description: |
        Until multi-org login ships, accounts holding an active membership in another org
        are refused (409) unless the deployment sets `COCO_ALLOW_MULTI_ORG_MEMBERSHIP=1`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name]
              properties:
                slug: { type: string }
                name: { type: string }
      responses:
        "200":
          description: Org created; session cookie set.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  status: { type: string, const: active }
                  redirectTo: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: The account already belongs to an organization (interim single-org policy).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /auth/logout:
    post:
      tags: [Auth]
      operationId: authLogout
      summary: Sign out
      security: []
      responses:
        "200":
          description: Session cookie cleared.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }

  /auth/session:
    get:
      tags: [Auth]
      operationId: getSession
      summary: Current principal
      description: |
        Resolves the session cookie (with sliding renewal) or a bearer credential (agent
        key or MCP OAuth access token). `identity` is populated for human principals on
        both paths — bearer callers included — and stays null for agent principals.
      responses:
        "200":
          description: The resolved principal and, for humans, identity details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  principal: { $ref: "#/components/schemas/Principal" }
                  identity:
                    type: [object, "null"]
                    properties:
                      name: { type: string }
                      email: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /auth/signed-in:
    get:
      tags: [Auth]
      operationId: authSignedIn
      summary: Post-sign-in status page
      security: []
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [success, error, onboarding, pending, suspended], default: success }
        - name: message
          in: query
          schema: { type: string, maxLength: 280 }
      responses:
        "200":
          description: Human-facing HTML status/onboarding page.
          content:
            text/html:
              schema: { type: string }

  # ------------------------------------------------------------------
  # OAuth for MCP clients
  # ------------------------------------------------------------------
  /.well-known/oauth-authorization-server:
    get:
      tags: [OAuth]
      operationId: getAuthorizationServerMetadata
      summary: Authorization server metadata (RFC 8414)
      description: Also served at `/.well-known/oauth-authorization-server/mcp`, `/.well-known/openid-configuration`, `/.well-known/openid-configuration/mcp`, and `/mcp/.well-known/openid-configuration`.
      security: []
      responses:
        "200":
          description: Authorization server metadata.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /.well-known/oauth-protected-resource:
    get:
      tags: [OAuth]
      operationId: getProtectedResourceMetadata
      summary: Protected resource metadata (RFC 9728)
      description: Also served at `/.well-known/oauth-protected-resource/mcp`.
      security: []
      responses:
        "200":
          description: Protected resource metadata.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /oauth/register:
    post:
      tags: [OAuth]
      operationId: oauthRegister
      summary: Dynamic client registration (RFC 7591)
      description: |
        Also served at `POST /register`. Redirect URIs may be `https:`/`http:` URLs or
        native private-use schemes per RFC 8252 (e.g. `com.example.app://oauth/callback`
        for mobile apps); browser-executable schemes (`javascript:`, `data:`, `file:`, …)
        are rejected.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                redirect_uris:
                  type: array
                  items: { type: string, format: uri }
                client_name:
                  type: string
                  description: Display name shown on the authorization confirmation screen (sanitized, max 120 chars).
      responses:
        "200":
          description: Registered client credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id: { type: string }
                  client_secret: { type: string }
                  redirect_uris:
                    type: array
                    items: { type: string }
                  client_name: { type: string }
                  token_endpoint_auth_method: { type: string, const: client_secret_post }
        "400":
          description: Invalid client metadata.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthError" }

  /oauth/authorize:
    get:
      tags: [OAuth]
      operationId: oauthAuthorize
      summary: Authorization endpoint (PKCE, S256)
      description: |
        Also served at `GET /authorize`. Unauthenticated browsers are redirected to
        `/auth/login` and returned here after sign-in — authentication runs before tenancy
        resolution, so on multi-tenant deployments the org comes from the session claim and
        first-visit browsers need no org context. Signed-in browsers see an HTML
        confirmation screen summarizing the grant (app, redirect host, workspace, account,
        scopes); approving posts to `/oauth/authorize/decision`, which redirects to
        `redirect_uri` with `code`, `state`, and `scope` (cancel redirects with
        `error=access_denied`). Only the deployment's first-party client
        (`COCO_MCP_OAUTH_CLIENT_ID`) skips the confirmation screen.
      security: []
      parameters:
        - { name: response_type, in: query, required: true, schema: { type: string, enum: [code] } }
        - { name: client_id, in: query, required: true, schema: { type: string } }
        - { name: redirect_uri, in: query, required: true, schema: { type: string, format: uri } }
        - { name: state, in: query, schema: { type: string } }
        - { name: scope, in: query, schema: { type: string, default: "context:read" } }
        - { name: code_challenge, in: query, required: true, schema: { type: string } }
        - { name: code_challenge_method, in: query, required: true, schema: { type: string, enum: [S256] } }
      responses:
        "200":
          description: Authorization confirmation screen (HTML) for a signed-in browser.
          content:
            text/html: {}
        "302":
          description: Redirect to sign-in, to `redirect_uri` with an OAuth error, or (first-party client only) with an authorization code.
        "400":
          description: Invalid request with no usable redirect URI.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthError" }

  /oauth/authorize/decision:
    post:
      tags: [OAuth]
      operationId: oauthAuthorizeDecision
      summary: Consent decision for the authorization confirmation screen
      description: |
        Also served at `POST /authorize/decision`. Form target of the confirmation screen
        rendered by `GET /oauth/authorize` — not called by OAuth clients directly. Verifies
        the signed, short-lived consent token (bound to the authorize request, the approving
        principal, and the org), then redirects to the client's registered `redirect_uri`
        with `code` + `state` on approve or `error=access_denied` on cancel. Expired or
        tampered tokens return an HTML error page (400).
      security: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [consent, decision]
              properties:
                consent:
                  type: string
                  description: Signed consent token embedded in the confirmation screen.
                decision:
                  type: string
                  enum: [approve, deny]
      responses:
        "302":
          description: Redirect to `redirect_uri` with a code (approve) or `error=access_denied` (deny), back to the authorize screen (session changed), or to sign-in (session expired).
        "400":
          description: Expired or tampered consent token (HTML), or unresolvable org context.

  /oauth/token:
    post:
      tags: [OAuth]
      operationId: oauthToken
      summary: Token endpoint
      description: Also served at `POST /token`. Client authenticates via HTTP Basic or `client_id`/`client_secret` form fields.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type: { type: string, enum: [authorization_code, refresh_token] }
                code: { type: string }
                redirect_uri: { type: string }
                code_verifier: { type: string }
                refresh_token: { type: string }
                scope: { type: string }
                client_id: { type: string }
                client_secret: { type: string }
      responses:
        "200":
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string }
                  expires_in: { type: integer }
                  refresh_token: { type: string }
                  scope: { type: string }
        "400":
          description: Invalid grant or unsupported grant type.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthError" }
        "401":
          description: Invalid client credentials.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OAuthError" }

  # ------------------------------------------------------------------
  # Agents (logical read surfaces + connector OAuth)
  # ------------------------------------------------------------------
  /agents/availability:
    get:
      tags: [Agents]
      operationId: getAgentsAvailability
      summary: Agent availability for the org
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Whether agent runs may start.
          content:
            application/json:
              schema:
                type: object
                properties:
                  available: { type: boolean }
                  reason: { type: [string, "null"], enum: [not_enabled_for_org, out_of_credit, null] }
                  message: { type: [string, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /agents/connector-catalog:
    get:
      tags: [Agents]
      operationId: getConnectorCatalog
      summary: Connector catalog with configuration status
      description: Catalog metadata and per-connector configured/source status. Never returns secret values.
      parameters:
        - name: spaceSlug
          in: query
          description: Space to resolve status against. `personal` resolves to the caller's personal space.
          schema: { type: string }
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Connector catalog.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/ConnectorCatalogItem" }
                  dbBacked: { type: boolean }
                  spaceSlug: { type: [string, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /agents/personal-space:
    get:
      tags: [Agents]
      operationId: getPersonalSpace
      summary: The caller's personal-context space identity
      description: Resolves the public `personal` alias to the caller's internal personal-space slug — what run dispatch stamps on the runtime's space context so personal-space connector credentials resolve.
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Personal space identity, or `supported:false` on runtimes without personal spaces.
          content:
            application/json:
              schema:
                type: object
                required: [supported]
                properties:
                  supported: { type: boolean }
                  spaceSlug: { type: string, enum: [personal] }
                  internalSpaceSlug: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /agents/connector-oauth/start:
    post:
      tags: [Agents]
      operationId: startConnectorOauth
      summary: Start a connector OAuth connect flow
      description: >-
        Discovers the vendor's authorization server per the MCP authorization
        spec (RFC 9728/8414 + dynamic client registration + PKCE). Connectors
        whose API host serves no such metadata (Microsoft Graph for OneDrive)
        declare their authorization server in the catalog instead and may
        reuse a configured OIDC sign-in provider's app registration. Org-admin
        gated, except spaceSlug `personal` — a caller with write on their own
        personal space may connect a grant scoped to it (a read-scoped
        principal is refused).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [connectorKey]
              properties:
                connectorKey: { type: string }
                spaceSlug:
                  type: string
                  description: Scopes the grant to this space; `personal` resolves to the caller's personal space. Omit for an org-level grant.
                returnTo: { type: string }
      parameters:
        - $ref: "#/components/parameters/OrgSlugHeader"
      responses:
        "200":
          description: Authorization URL to redirect the browser to.
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizeUrl: { type: string, format: uri }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "502":
          description: Vendor discovery or client registration failed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /connector-oauth/callback:
    get:
      tags: [Agents]
      operationId: connectorOauthCallback
      summary: Connector OAuth redirect target
      description: Unauthenticated by design — the encrypted `state` parameter carries the flow proof. Stores the resulting credential and redirects back to the app with `connected=<key>` or `oauth_error=<message>`.
      security: []
      parameters:
        - { name: state, in: query, required: true, schema: { type: string } }
        - { name: code, in: query, schema: { type: string } }
        - { name: error, in: query, schema: { type: string } }
        - { name: error_description, in: query, schema: { type: string } }
      responses:
        "302":
          description: Redirect back to the app.
        "400":
          description: Missing or invalid state.
          content:
            text/plain:
              schema: { type: string }

  # ------------------------------------------------------------------
  # Admin
  # ------------------------------------------------------------------
  /admin:
    get:
      tags: [Admin]
      operationId: getAdminOverview
      summary: Admin dashboard counts
      parameters: [{ $ref: "#/components/parameters/OrgSlugHeader" }]
      responses:
        "200":
          description: Org-wide counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orgId: { type: string }
                  counts:
                    type: object
                    properties:
                      members: { type: integer }
                      users: { type: integer }
                      spaces: { type: integer }
                      pages: { type: integer }
                      agentKeys: { type: integer }
                  idp:
                    type: object
                    properties:
                      configured: { type: boolean }
                  actor: { $ref: "#/components/schemas/Actor" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /admin/organization:
    get:
      tags: [Admin]
      operationId: getAdminOrganization
      summary: Organization details
      parameters: [{ $ref: "#/components/parameters/OrgSlugHeader" }]
      responses:
        "200":
          description: The organization.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Organization" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
[...]
